:root {
  --primary-color: #857eee;
  --secondary-color: ;
  --heading-font: ;
  --default-font: ;
}

nav {
  padding-top: 10px;
}
nav ul {
  list-style: none;
  margin: none;
  padding: none;
  display: flex;
}
nav li {
  line-height: 80px;
  font-size: 14px;
  font-weight: normal;
}

nav a {
  text-decoration: none;
  margin-right: 15px;
  color: black;
  margin-top: 10px;
}
nav li .active {
  text-decoration: underline;
}
.logo {
  max-height: 80px;
  padding: 10px 0;
}

body {
  font-family: "gopher", sans-serif;
}

p {
  font-size: 14px;
}

.hero h1 {
  padding: 20px;
  text-align: center;
  margin: 60px 220px;
  font-size: 30px;
  font-weight: 500;
}

.about h1{
    color: var(--primary-color);
}
.about h3{
    color: var(--primary-color);
}
.about .link{
    color: var(--primary-color);
}

.row a {
  text-decoration: none;
  color: black;
  text-align: center;
  transition: all 150ms ease-in-out;
}
.row a:hover {
  opacity: 0.6;
}

h2 {
  font-size: 36px;
  margin: 20px 0;
  font-weight: normal;
}

footer {
  text-align: center;
  font-size: 11px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

footer a {
  color: var(--primary-color);
}

.hero {
  text-align: center;
  padding: 0 120px;
}

.h3 {
  font-size: 37px;
}

.student-project {
  font-size: 11px;
}

.next-project-selectors {
  font-size: 33px;
  font-weight: 400;
}

.next-project-selectors a {
  text-decoration: none;
  color: black;
}

.contact h1{
    color: var(--primary-color);
}
.contact .contact-section{
margin: 80px 0 0 0;
}
.contact .link{
    color: var(--primary-color);
}
.contact .hero{
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .hero {
    padding: 20px 0px 0 0;
  }

  .hero h1 {
    margin: 0;
    font-size: 25px;
    padding: 10px 10px 30px;
  }

  .project-name {
    font-size: 25px;
  }

  nav a {
    margin-right: 10px;
  }

  .next-project-selectors {
    font-size: 25px;
  }
}

@media (max-width:1300px){
   .hero h1{
    margin: 0
   }
}
};
