nav {
  padding-top: 10px;
}
nav ul {
  list-style: none;
  margin: none;
  padding: none;
  display: flex;
}
nav li {
  line-height: 80px;
  font-size: 14px;
  font-weight: normal;
}

nav a {
  text-decoration: none;
  margin-right: 15px;
  color: black;
  margin-top: 10px;
}
nav li .active {
  text-decoration: underline;
}
.logo {
  max-height: 80px;
  padding: 10px 0;
}

body {
  font-family: "gopher", sans-serif;
}

.hero h1 {
  padding: 20px;
  text-align: center;
  margin: 60px 220px;
  font-size: 30px;
  font-weight: 500;
}

.row a {
  text-decoration: none;
  color: black;
  text-align: center;
  transition: all 150ms ease-in-out;
}
.row a:hover {
  opacity: 0.6;
}

h2 {
  font-size: 36px;
  margin: 20px 0;
  font-weight: normal;
}
